.ng-modal-dialog {
    width: 42%;
    height: 60%;
    top: 15%;
    left: 29%;
}
.createText {
    color: black;
    padding: 5px;
    margin: 30px 5px 20px 25px;
	line-height: 0.1;
	font-size: xx-large;
	display: block;
    font-family: Sans-serif;
}
.summaryForm[type=text] {
    left: 7%;
    width: 86%;
    overflow: hidden;
    display:block;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    position: relative;
    margin: 0px 0px 0px 0px;
}

.descriptionForm[type=text] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    height: 150px;
    left: 7%;
    width: 86%;
    position: relative;
    display: block;
    resize: none;
    margin: 0px 0px 0px 0px;
}

.createIssueButton {
    cursor:pointer;
    color: white;
    margin: 20px 0px 5px 25px;
    height: 40px;
    width: 25%;
    display: inline-block;
    position: relative;
    background-color: rgb(100, 177, 15);
    border: 1px solid rgb(100, 177, 15);
    border-radius: 5px;
}

.addNewStatus {
    display: inline-block;
    margin: 10px 0px 5px 30px;
}
