.createText {
    color: black;
    padding: 5px;
    margin: 30px 5px 20px 25px;
	line-height: 0.1;
	font-size: 200%;
	display: block;
}
.summaryForm[type=text] {
    width: 90%;
    margin: 30px 0px 5px 25px;
    display:block;
    resize: none;
}
.descriptionForm[type=text] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    overflow-y: scroll;
    padding: 5px;
    height: 150px;
    width: 90%;
    margin: 20px 0px 5px 25px;
    display:block;
    resize: none;
}

.createIssueButton {
    cursor:pointer;
    color: white;
    margin: 20px 0px 5px 25px;
    height: 40px;
    width: 25%;
    display: inline-block;
    position: relative;
    background-color: rgb(100, 177, 15);
    border: 1px solid rgb(100, 177, 15);
    border-radius: 5px;
}

.addNewStatus {
    display:block;
    margin: 10px 0px 5px 30px;
}
