.hash {
    float: left;
	color: grey;
	font-size: 120%;
	font-weight: bold;
    margin: 5px 5px 5px 10px;
	display: inline;
}
.statusOpen, .statusClosed {
    float: left;
	font-size: 120%;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border: 1px solid black;
    display: inline;
}
.statusOpen {
      color: red;
}
.statusClosed {
    color: green;
}
.summary {
    color: black;
    padding: 5px;
    margin: 10px 5px 20px 5px;
	line-height: 0.1;
	font-weight: bold;
	font-size: 200%;
	display: block;
}
.description {
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    width: 370px;
    height: 200px;
    border: 4px solid black;
    display: block;
}
.commentFormName[type=text] {
    width: 10%;
    margin: 5px 0px 5px 10px;
    display:inline;
    resize: none;
}
.commentFormComment[type=text] {
    width: 10%;
    margin: 5px 0px 5px 5px;
    display:inline;
    resize: none;
}
.commentButton[type=button], input[type=submit] {
    margin: 5px 5px 5px 5px;
    display:inline;
}
.commentStatus {
    margin: 10px 5px 5px 10px;
    display:block;
}
.resolveButton input[type=submit] {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.comment {

}
.attachments {

}
.participants {

}
.error {
    color: black;
    line-height: 1;
    font-weight: bold;
    font-size: 200%;
    margin: 10px;
    display:inline;
}
