.hash {
    float: left;
	color: grey;
	font-size: 120%;
	font-weight: bold;
    margin: 5px 5px 5px 10px;
	display: inline;
}
.statusOpen, .statusResolved {
    float: left;
	font-size: 120%;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border: 1px solid black;
    display: inline;
}
.statusOpen {
      color: red;
}
.statusResolved {
    color: green;
}
.summary {
    color: black;
    padding: 5px;
    margin: 10px 5px 20px 5px;
	line-height: 0.1;
	font-weight: bold;
	font-size: 200%;
	display: block;
}
.description {
    text-align: justify;
    overflow-y: scroll;
    word-wrap: break-word;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
    width: 370px;
    height: 200px;
    border: 4px solid black;
    display: block;
}
.resolveButton input[type=submit] {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.commentTextArea {

}
.attachments {

}
.participants {

}
.error {
    color: black;
    line-height: 1;
    font-weight: bold;
    font-size: 200%;
    margin: 10px;
    display:inline;
}
