.ng-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 5;
	width: 100%;
	height: 100%;
}
.ng-modal-dialog {
	z-index:10;
	/*margin:0 auto;*/
	position: fixed;
	width: 60%;
	height: 70%;

	top: 15%;
	left: 20%;
	/*transform: translate(-50%, -50%);*/
	/*-webkit-transform: translate(-50%, -50%);*/
	/*-moz-transform: translate(-50%, -50%);*/

	background-color: #fff;
	box-shadow: 4px 4px 80px #444;
}
.ng-modal-dialog-content {
	padding:10px;
	text-align: left;
}
.ng-modal-close {
	position: absolute;
	top: 3px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
	font-family: 'arial', 'sans-serif';
}

.ng-modal-close a {
	text-decoration: none;
	color: black;
}

.ng-modal-close a:hover {
	color: rebeccapurple;
}
