.commentTextArea {
    width:395px;
    height: 100px;
    margin-left: 10px;
    max-width: 395px;
    line-height:1.5;
    resize: none;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
}
.commentFormName[type=text] {
    width: 10%;
    margin: 5px 0px 5px 10px;
    display:inline;
    resize: none;
}
.commentButton[type=button], input[type=submit] {
    margin-left: 10px;
    margin-top: 3px;
}