<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="/js/postcomment.js"></script>
	</head>
	<body ng-app="postApp" ng-controller="postController">
		<form ng-submit="submitForm()" name="commentForm">
			<input type="text" ng-model="comment.issue.hash" placeholder="Enter a number of issue">
			<input type="text" ng-model="comment.content" placeholder="Leave a comment">
			<input type="submit" value="Comment">
		</form>
	</body>
</html>