<div class="logo-div">
    <img src="/assets/img/1512055(2).jpeg" alt="logo" width="140px">
</div>
<div class="wrapper">
    <div class="left-container">
        <div><input type="text" ng-model="search" ng-change="filteredPagination()" placeholder="Search"></div>
        <div>Status: <select ng-model="selectedStatus" ng-options="item for item in statusVariants" ng-change="filteredPagination()"></select></div>
    </div>
    <div class="right-container">
        <table id="all-issues-table">
            <tr>
                <th>Hash</th>
                <th>Summary</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="issue in filtered = (issues | filter:selectedStatus | filter:search) | startFrom:startingItem() | limitTo:itemsPerPage">
                <td>{{issue.hash}}</td>
                <td><a href="/issues/{{issue.hash}}">{{issue.summary}}</a></td>
                <td>{{issue.description}}</td>
                <td>{{issue.status}}</td>
            </tr>
        </table>
        <div class="page-container">
            <button ng-disabled="firstPage()" ng-click="pageBack()"></button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="lastPage()" ng-click="pageForward()"></button>
            <select ng-model="itemsPerPageSelect" ng-options="itemsPerPageSelect for itemsPerPageSelect in itemsPerPageSelects" ng-change="changeItemsPerPage()" ng-init="initItemsPerPage()"></select>
        </div>
    </div>
</div>
