<style>
   body {
    background-color: #ddccee;
   }
</style>
<div ng-hide="error">
    <p class=hash>#{{issue.hash}}</p>
    <p ng-hide="issue.status=='OPEN'" class=statusClosed>{{issue.status}}</p>
    <p ng-hide="issue.status=='CLOSED'" class=statusOpen>{{issue.status}}</p>
    <p class=summary>{{issue.summary}}</p>
    <p class=description>{{issue.description}}</p>
    <form class=commentform ng-submit="submitForm()" name="commentForm">
        <input type="text" ng-model="comment.author" placeholder="Name" default=null>
        <input type="text" ng-model="comment.content" placeholder="Leave a comment">
        <input type="submit" value="Comment">
    </form>
    <label class=commentstatus>Status: {{status}}</label>
</div>

