<style>
   body {
    background-color: white;
   }
</style>
<div ng-hide="error">
    <p class=hash>#{{issue.hash}}</p>
    <p ng-hide="issue.status=='OPEN'" class=statusClosed>{{issue.status}}</p>
    <p ng-hide="issue.status=='CLOSED'" class=statusOpen>{{issue.status}}</p>
    <p class=summary>{{issue.summary}}</p>
    <p class=description>{{issue.description}}</p>
    <form ng-submit="submitForm()" name="commentForm">
        <input class=commentform type="text" ng-model="comment.author" placeholder="Name" default=null>
        <input class=commentform type="text" ng-model="comment.content" placeholder="Leave a comment">
        <input class=commentbutton type="submit" value="Comment">
    </form>
    <label class=commentstatus>Status: {{status}}</label>
</div>
<div class=comment></div>
<div class=attachments></div>
<div class=participants></div>
<div ng-show="error">
    <p class="error">{{error}}</p>
</div>
