<link rel="stylesheet" href="assets/css/issueView.style.css">
<div ng-hide="error">
    <p id=summary>{{issue.summary}}</p>
    <p ng-class="{statusOpen : issue.status=='OPEN', statusResolved : issue.status=='RESOLVED'}">{{issue.status}}</p>
    <p class=hash>#{{issue.hash}}</p>
    <p class=description>{{issue.description}}</p>
    <p class=participants>Added by: {{issue.author.name}}</p>
    <ng-include src="'/views/postCommentView.html'"></ng-include>
    <div class=comment></div>
    <div class=attachments></div>
    <div class=participants></div>
    <div ng-show="error">
        <p class="error">{{error}}</p>
    </div>
    <form class="resolveButton" ng-submit="resolveForm()" name="resForm">
        <input ng-disabled="issue.status=='RESOLVED'" type="submit" value="Resolve">
    </form>
</div>